* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.pot {
  height: 40rem;
  background-image: linear-gradient(#fff, #565d8f);
  position: relative;
}
.pot .cauldron {
  position: absolute;
  left: 50%;
  margin-left: -131.5px;
  top: 64.5%;
}

.pot .ingr {
  position: absolute;
  left: 48%;
}

.pot .ingr .ingr-img {
  height: 4rem;
  width: 4rem;
}

.forms {
  height: 20rem;
  background-color: blanchedalmond;
}
